<footer class="footer bg-blur bg-blur-top">
  <div class="container footer__container">
    <a href="#page-top" class="footer__btn-up"></a>

    <div class="footer__grid">
      <div class="footer__column footer__info">
        <div class="footer__info-top">
          <a href="./" class="logo footer__logo">
            <img class="logo__img logo__img-lg" loading="lazy" src="img/logo.svg" width="166" height="56" alt="Luminary Estate">
            <img class="logo__img logo__img-mob hidden" loading="lazy" src="img/logo-sm.svg" width="56" height="56" alt="Luminary Estate">
          </a>
          <div class="footer__social footer-social">
            <a href="https://www.linkedin.com/company/luminary-estate/" target="_blank" class="footer-social__item">
              <svg class="footer-social__icon">
                <use xlink:href="img/sprite.svg#ic-linkedin"></use>
              </svg>
            </a>
            <a href="https://www.facebook.com/luminary.estate" target="_blank" class="footer-social__item">
              <svg class="footer-social__icon">
                <use xlink:href="img/sprite.svg#ic-facebook"></use>
              </svg>
            </a>
            <a href="https://www.instagram.com/anyadyomkina/" target="_blank" class="footer-social__item">
              <svg class="footer-social__icon">
                <use xlink:href="img/sprite.svg#ic-instagram"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="footer__info-bottom">
          <p class="footer__text">Luminary Estate is a premium property service. The company provides support for purchasing and selling
            real estate for cryptocurrency in countries loyal to this payment method.</p>
          <p class="footer__text">This is a service for crypto investors who want to invest their cryptocurrency in real estate. Depending
            on the chosen country, Luminary Estate, alongside local partners, will help you remotely select the object, watch it with the
            realtor, prepare everything you need to deal with concerning lawyers, and accompany the transfer to the seller and signing of
            the property contract.</p>
          <p class="footer__text">The purchase can take place both remotely and live—all for your comfort.</p>

          <a href="mailto:sales@luminaryestate.com" target="_blank" class="footer__email">
            <svg class="footer__email-icon">
              <use xlink:href="img/sprite.svg#ic-email"></use>
            </svg>
            <span class="footer__email-label">sales@luminaryestate.com</span>
          </a>
        </div>

      </div>
      <div class="footer__column footer__location">
        <h4 class="footer__title">Locations</h4>
        <ul class="list-reset footer__list footer-menu">
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Thailand</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Bali</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Montenegro</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Portugal</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Spain</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Dubai</a>
          </li>
        </ul>
      </div>
      <div class="footer__column footer__expore">
        <h4 class="footer__title">Expore</h4>
        <ul class="list-reset footer__list footer-menu">
          <li class="footer-menu__item">
            <a href="./" class="footer-menu__link">Home</a>
          </li>
          <li class="footer-menu__item">
            <a href="./properties.html" class="footer-menu__link">Properties</a>
          </li>
          <li class="footer-menu__item">
            <a href="./news.html" class="footer-menu__link">Blog</a>
          </li>
          <li class="footer-menu__item">
            <a href="./faq.html" class="footer-menu__link">Faq</a>
          </li>
          <li class="footer-menu__item">
            <a href="./contacts.html" class="footer-menu__link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="footer__column footer__crypto-rate">
        <h4 class="footer__title">Crypto rate</h4>
        <ul class="list-reset footer__list crypto-list">
          <li class="crypto-list__item">
            <i class="ic-currency crypto-list__item-icon ic-btc"></i>
            <div class="crypto-list__item-info">
              <span class="crypto-list__item-name">Bitcoin</span>
              <span class="crypto-list__item-value">$29,031.00</span>
            </div>
          </li>
          <li class="crypto-list__item">
            <i class="ic-currency crypto-list__item-icon ic-eth"></i>
            <div class="crypto-list__item-info">
              <span class="crypto-list__item-name">Ethereum</span>
              <span class="crypto-list__item-value">$1,830.72</span>
            </div>
          </li>
          <li class="crypto-list__item">
            <i class="ic-currency crypto-list__item-icon ic-tether"></i>
            <div class="crypto-list__item-info">
              <span class="crypto-list__item-name">Tether</span>
              <span class="crypto-list__item-value">$0.9979</span>
            </div>
          </li>
          <li class="crypto-list__item">
            <i class="ic-currency crypto-list__item-icon ic-usd"></i>
            <div class="crypto-list__item-info">
              <span class="crypto-list__item-name">USD Coin</span>
              <span class="crypto-list__item-value">$0.9998</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</footer>