<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" href="favicon/favicon-192x192.png" sizes="192x192" />
  <link rel="apple-touch-icon" href="favicon/favicon-180x180.png" />
  <meta name="msapplication-TileImage" content="favicon/favicon-270x270.png" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#220D2A">
  <title>Luminary Estate — Buy Real Estate with Bitcoin</title>
  <!-- fonts preload -->
  <link rel="preload" href="fonts/Prata.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/FuturaNewLight.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/FuturaNewBook.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/FuturaNewMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/FuturaNewDemi.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/FuturaNewBold.woff2" as="font" type="font/woff2" crossorigin>
  <!-- css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- JS -->
  <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
  <script defer src="js/main.js"></script>
</head>