<!-- dropdown-->
<div class="c-dropdown">
  <div class="c-dropdown__select">
    <div class="c-dropdown__label">Location</div>
    <div class="c-dropdown__selected">All</div>
  </div>
  <div class="c-dropdown__inner">
    <div class="c-dropdown__search-wrapper">
      <input type="text" class="input-reset input-reset c-dropdown__search" placeholder="Search" autocomplete="off">
    </div>
    <ul class="list-reset c-dropdown__menu">
      <li class="c-dropdown__option active">All</li>
      <li class="c-dropdown__option">Bali</li>
      <li class="c-dropdown__option">Dubai</li>
      <li class="c-dropdown__option">Montenegro</li>
      <li class="c-dropdown__option">Portugal</li>
      <li class="c-dropdown__option">Spain</li>
      <li class="c-dropdown__option">Thailand</li>
    </ul>
  </div>
</div>