<div class="card-news">
  <a href="./news-page.html" class="card-news__thumbnail">
    <picture>
      <source srcset="./img/news-img.webp" type="image/webp">
      <img loading="lazy" src="./img/news-img.jpg" class="" width="362" height="289" alt="Villa">
    </picture>
  </a>
  <div class="card-news__body">
    <div class="card-news__top">
      <div class="card-news__info">
        <svg class="ic-date card-news__info-icon">
          <use xlink:href="img/sprite.svg#ic-calendar"></use>
        </svg>
        <span class="card-news__info-label">July7, 2022</span>
      </div>
      <div class="card-news__info">
        <svg class="card-news__info-icon">
          <use xlink:href="img/sprite.svg#ic-comments"></use>
        </svg>
        <span class="card-news__info-label">Comments<span>(0)</span></span>
      </div>
    </div>
    <a href="./news-page.html" class="card-news__title">
      <h3 class="card-news__title-h3">Property For Crypto in Montenegro</h3>
    </a>
    <a href="./news-page.html" class="card-news__read-more">
      <span class="card-news__read-more-label">Read more</span>
      <i class="ic-readmore"></i>
    </a>
  </div>
</div>