<div class="card-property">
  <div class="card-property__header">
    <div class="card-property__header-top">
      <!-- gallery-triger -->
      <a href="./img/property-gallery/property-gallery_img-1.jpg" data-fancybox="gallery" class="gallery-triger">
        <svg class="gallery-triger__icon">
          <use xlink:href="img/sprite.svg#ic-camera"></use>
        </svg>
        <span class="gallery-triger__num-photos">12</span>
      </a>
      <div class="hidden">
        <a href="./img/property-gallery/property-gallery_img-2.jpg" data-fancybox="gallery">
          <img src="./img/property-gallery/property-gallery_img-2.jpg" alt="Image 2">
        </a>
        <a href="./img/property-gallery/property-gallery_img-3.jpg" data-fancybox="gallery">
          <img src="./img/property-gallery/property-gallery_img-3.jpg" alt="Image 3">
        </a>
      </div>
      <a href="#" class="favorite-star">
        <svg>
          <use xlink:href="img/sprite.svg#ic-star"></use>
        </svg>
      </a>
    </div>
    <a href="./product-page.html" class="card-property__thumbnail">
      <picture>
        <source srcset="./img/property-img.webp" type="image/webp">
        <img loading="lazy" src="./img/property-img.jpg" class="" width="362" height="289" alt="Villa">
      </picture>
    </a>
    <div class="card-property__header-bottom">
      <span class="card-property__name">Villa</span>
    </div>
  </div>
  <div class="card-property__body">
    <h3 class="card-property__title">A beautiful cozy villa in the heart of Coconut Lane </h3>
    <div class="card-property__location lightbox-location" data-fancybox
      data-src="https://www.google.com/maps/@51.5039653,-0.1246493,14.12z">
      <svg class="card-property__location-icon">
        <use xlink:href="img/sprite.svg#ic-location"></use>
      </svg>
      <span class="card-property__location-name">Thailand, Koh Phangan, Chalok ban kao</span>
    </div>
    <ul class="list-reset card-property__apartments property-apartments">
      <li class="property-apartments__item">
        <svg class="property-apartments__item-icon">
          <use xlink:href="img/sprite.svg#ic-bed"></use>
        </svg>
        <span class="property-apartments__item-value">2</span>
      </li>
      <li class="property-apartments__item">
        <svg class="property-apartments__item-icon">
          <use xlink:href="img/sprite.svg#ic-bathroom"></use>
        </svg>
        <span class="property-apartments__item-value">2</span>
      </li>
      <li class="property-apartments__item">
        <svg class="property-apartments__item-icon">
          <use xlink:href="img/sprite.svg#ic-square"></use>
        </svg>
        <span class="property-apartments__item-value">120</span>
      </li>
    </ul>
  </div>
  <div class="card-property__footer">
    <div class="card-property__price">8,000,000.00 THB</div>
    <div class="card-property__favorite favorite-no">
      <span class="favorite-tooltip">Add to Favorite</span>
    </div>
  </div>
</div>