<!-- floating-currency (fixed) -->
<div class="floating-currency">
  <div class="currency-switcher">
    <!-- currency-selected -->
    <div class="currency-switcher__select selected">
      <i class="currency-flag currency-flag-usd"></i>
      <span class="currency-switcher__option-name">USD</span>
    </div>
    <!-- option -->
    <ul class="list-reset currency-switcher__options">
      <li class="currency-switcher__option selected">
        <i class="currency-flag currency-flag-usd"></i>
        <span class="currency-switcher__option-name">USD</span>
      </li>
      <li class="currency-switcher__option">
        <i class="currency-flag currency-flag-eur"></i>
        <span class="currency-switcher__option-name">EUR</span>
      </li>
      <li class="currency-switcher__option">
        <i class="currency-flag currency-flag-gbp"></i>
        <span class="currency-switcher__option-name">GBP</span>
      </li>
      <li class="currency-switcher__option">
        <i class="currency-flag currency-flag-btc"></i>
        <span class="currency-switcher__option-name">BTC</span>
      </li>
      <li class="currency-switcher__option">
        <i class="currency-flag currency-flag-thb"></i>
        <span class="currency-switcher__option-name">THB</span>
      </li>
    </ul>
  </div>
</div>