<div class="floating-currency">
  <div class="currency-box">
    <form class="currency-form" action="#" method="post">
      <div class="currency-switcher">
        <div class="currency-selected">
          <i class="currency-flag currency-flag-usd"></i>
          <span class="currency-list__name">USD</span>
        </div>
        <ul class="list-reset currency-list">
          <li data-currency-code="USD" class="currency-list__item active">
            <i class="currency-flag currency-flag-usd"></i>
            <span class="currency-list__name">USD</span>
          </li>
          <li data-currency-code="EUR" class="currency-list__item">
            <i class="currency-flag currency-flag-eur"></i>
            <span class="currency-list__name">EUR</span>
          </li>
          <li data-currency-code="GBP" class="currency-list__item">
            <i class="currency-flag currency-flag-gbp"></i>
            <span class="currency-list__name">GBP</span>
          </li>
          <li data-currency-code="BTC" class="currency-list__item">
            <i class="currency-flag currency-flag-btc"></i>
            <span class="currency-list__name">BTC</span>
          </li>
          <li data-currency-code="THB" class="currency-list__item">
            <i class="currency-flag currency-flag-thb"></i>
            <span class="currency-list__name">THB</span>
          </li>
        </ul>
      </div>
      <input type="hidden" id="switch-to-currency" name="switch_to_currency" value="USD">
      <input type="hidden" name="action" value="switch_currency">
      <input type="hidden" name="nonce" value="c1163ece95">
    </form>
  </div>
</div>