<div class="modal modal-submit" data-modal="modalSubmit">
  <div class="modal__overlay">
    <div class="modal__content">
      <div class="modal__close"></div>
      <div class="modal__head">
        <h3 class="modal__title">Submit property</h3>
        <p class="modal__descr">Explore our featured real estate properties, available for purchase with Bitcoin & crypto.</p>
      </div>
      <div class="modal__body">
        <form action="#" method="post" class="form form-submit">
          <input type="email" name="name" class="form__input input-name" placeholder="Name" autocomplete="off">
          <input type="email" name="email" class="form__input input-email" placeholder="Email address*" autocomplete="off" required>
          <textarea name="comment" class="form__textarea" placeholder="Comment"></textarea>
          <label class="check">
            <input class="check__input" type="checkbox" name="form-pravila" checked>
            <span class="check__box"></span>
            <span class="check__label">I give my express consent the processing of my personal data</span>
          </label>
          <button type="submit" class="btn form__btn">Send message</button>
          <!-- сообщение об отправке -->
          <p class="success-message hide">Your message has been sent successfully!</p>
        </form>
      </div>
    </div>
  </div>
</div>