<!-- page-dropdown-->
 <div class="c-dropdown page-dropdown">
   <div class="c-dropdown__select">
     <div class="c-dropdown__selected">New to Old</div>
   </div>
   <div class="c-dropdown__inner">
     <ul class="list-reset c-dropdown__menu">
       <li class="c-dropdown__option active">Default Order</li>
       <li class="c-dropdown__option">Price Low to High</li>
       <li class="c-dropdown__option">Price High to Low</li>
       <li class="c-dropdown__option">Old to New</li>
       <li class="c-dropdown__option">New to Old</li>
       <li class="c-dropdown__option">Spain</li>
       <li class="c-dropdown__option">Thailand</li>
     </ul>
   </div>
 </div>