<section class="search-filter" id="filter-search">
  <div class="search-filter__wrapper">
    <div class="search-filter__fields">
      <!-- location -->
      <div class="c-dropdown" id="">
        <div class="c-dropdown__select">
          <label class="c-dropdown__label">Location</label>
          <div class="c-dropdown__selected">All</div>
        </div>
        <div class="c-dropdown__inner">
          <div class="c-dropdown__search-wrapper">
            <input type="text" name="" id="" class="input-reset input-reset c-dropdown__search" placeholder="Search" autocomplete="off">
          </div>
          <ul class="list-reset c-dropdown__menu">
            <li class="c-dropdown__option active">All</li>
            <li class="c-dropdown__option">Bali</li>
            <li class="c-dropdown__option">Dubai</li>
            <li class="c-dropdown__option">Montenegro</li>
            <li class="c-dropdown__option">Portugal</li>
            <li class="c-dropdown__option">Spain</li>
            <li class="c-dropdown__option">Thailand</li>
          </ul>
        </div>
      </div>
      <!-- Property Type -->
      <div class="c-dropdown" id="">
        <div class="c-dropdown__select">
          <label class="c-dropdown__label">Property Type</label>
          <div class="c-dropdown__selected">All</div>
        </div>
        <div class="c-dropdown__inner">
          <div class="c-dropdown__search-wrapper">
            <input type="text" name="" id="" class="input-reset input-reset c-dropdown__search" placeholder="Search" autocomplete="off">
          </div>
          <ul class="list-reset c-dropdown__menu">
            <li class="c-dropdown__option active">All</li>
            <li class="c-dropdown__option">Commercial</li>
            <li class="c-dropdown__option">Office</li>
            <li class="c-dropdown__option">Office</li>
            <li class="c-dropdown__option">Shop</li>
            <li class="c-dropdown__option">Residential</li>
            <li class="c-dropdown__option">Apartment Buildings</li>
            <li class="c-dropdown__option">Apartments</li>
            <li class="c-dropdown__option">Condominium</li>
            <li class="c-dropdown__option">House</li>
            <li class="c-dropdown__option">Single-Family Homes</li>
            <li class="c-dropdown__option">Townhouse</li>
            <li class="c-dropdown__option">Villa</li>
          </ul>
        </div>
      </div>
      <!-- Min Price -->
      <div class="c-dropdown" id="">
        <div class="c-dropdown__select">
          <label class="c-dropdown__label">Min Price</label>
          <div class="c-dropdown__selected">All</div>
        </div>
        <div class="c-dropdown__inner">
          <div class="c-dropdown__search-wrapper">
            <input type="text" name="" id="" class="input-reset input-reset c-dropdown__search" placeholder="Search" autocomplete="off">
          </div>
          <ul class="list-reset c-dropdown__menu">
            <li class="c-dropdown__option active">All</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
          </ul>
        </div>
      </div>
      <!-- Max Price -->
      <div class="c-dropdown" id="">
        <div class="c-dropdown__select">
          <label class="c-dropdown__label">Max Price</label>
          <div class="c-dropdown__selected">All</div>
        </div>
        <div class="c-dropdown__inner">
          <div class="c-dropdown__search-wrapper">
            <input type="text" name="" id="" class="input-reset input-reset c-dropdown__search" placeholder="Search" autocomplete="off">
          </div>
          <ul class="list-reset c-dropdown__menu">
            <li class="c-dropdown__option active">All</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
            <li class="c-dropdown__option">$000</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Filter Buttons -->
    <div class="search-filter__btns">
      <button type="button" class="btn-reset search-filter__btn btn-filter">
        <svg class="btn-filter__icon btn-filter__icon-filter">
          <use xlink:href="img/sprite.svg#ic-filter"></use>
        </svg>
        <svg class="btn-filter__icon btn-filter__icon-close">
          <use xlink:href="img/sprite.svg#ic-close"></use>
        </svg>
      </button>
      <button type="button" class="btn-reset search-filter__btn btn-search">
        <svg>
          <use xlink:href="img/sprite.svg#ic-search"></use>
        </svg>
      </button>
    </div>
    <!-- more-options -->
    <div class="more-options search-filter__more-options">
      <div class="more-options__wrapper">
        <!-- fields -->
        <div class="search-filter__fields">
          <!-- Property Status -->
          <div class="c-dropdown" id="">
            <div class="c-dropdown__select">
              <label class="c-dropdown__label">Property Status</label>
              <div class="c-dropdown__selected">Any</div>
            </div>
            <div class="c-dropdown__inner">
              <ul class="list-reset c-dropdown__menu">
                <li class="c-dropdown__option active">Any</li>
                <li class="c-dropdown__option">For Rent</li>
                <li class="c-dropdown__option">For Sale</li>
              </ul>
            </div>
          </div>
          <!-- Min Beds -->
          <div class="c-dropdown" id="">
            <div class="c-dropdown__select">
              <label class="c-dropdown__label">Min Beds</label>
              <div class="c-dropdown__selected">Any</div>
            </div>
            <div class="c-dropdown__inner">
              <ul class="list-reset c-dropdown__menu">
                <li class="c-dropdown__option active">Any</li>
                <li class="c-dropdown__option">1</li>
                <li class="c-dropdown__option">2</li>
                <li class="c-dropdown__option">3</li>
                <li class="c-dropdown__option">4</li>
                <li class="c-dropdown__option">5</li>
                <li class="c-dropdown__option">6</li>
                <li class="c-dropdown__option">7</li>
                <li class="c-dropdown__option">8</li>
                <li class="c-dropdown__option">9</li>
                <li class="c-dropdown__option">10</li>
              </ul>
            </div>
          </div>
          <!-- Min Baths -->
          <div class="c-dropdown" id="">
            <div class="c-dropdown__select">
              <label class="c-dropdown__label">Min Baths</label>
              <div class="c-dropdown__selected">Any</div>
            </div>
            <div class="c-dropdown__inner">
              <ul class="list-reset c-dropdown__menu">
                <li class="c-dropdown__option active">Any</li>
                <li class="c-dropdown__option">1</li>
                <li class="c-dropdown__option">2</li>
                <li class="c-dropdown__option">3</li>
                <li class="c-dropdown__option">4</li>
                <li class="c-dropdown__option">5</li>
                <li class="c-dropdown__option">6</li>
                <li class="c-dropdown__option">7</li>
                <li class="c-dropdown__option">8</li>
                <li class="c-dropdown__option">9</li>
                <li class="c-dropdown__option">10</li>
              </ul>
            </div>
          </div>
          <!-- Min Garages -->
          <div class="c-dropdown" id="">
            <div class="c-dropdown__select">
              <label class="c-dropdown__label">Min Garages</label>
              <div class="c-dropdown__selected">Any</div>
            </div>
            <div class="c-dropdown__inner">
              <ul class="list-reset c-dropdown__menu">
                <li class="c-dropdown__option active">Any</li>
                <li class="c-dropdown__option">1</li>
                <li class="c-dropdown__option">2</li>
                <li class="c-dropdown__option">3</li>
                <li class="c-dropdown__option">4</li>
                <li class="c-dropdown__option">5</li>
                <li class="c-dropdown__option">6</li>
                <li class="c-dropdown__option">7</li>
                <li class="c-dropdown__option">8</li>
                <li class="c-dropdown__option">9</li>
                <li class="c-dropdown__option">10</li>
              </ul>
            </div>
          </div>
          <!-- Agent -->
          <div class="c-dropdown" id="">
            <div class="c-dropdown__select">
              <label class="c-dropdown__label">Agent</label>
              <div class="c-dropdown__selected">Any</div>
            </div>
            <div class="c-dropdown__inner">
              <div class="c-dropdown__search-wrapper">
                <input type="text" name="" id="" class="input-reset input-reset c-dropdown__search" placeholder="Search" autocomplete="off">
              </div>
              <ul class="list-reset c-dropdown__menu">
                <li class="c-dropdown__option active">Any</li>
                <li class="c-dropdown__option">Contact with Admin</li>
                <li class="c-dropdown__option">Nathan</li>
                <li class="c-dropdown__option">James</li>
                <li class="c-dropdown__option">Melissa</li>
                <li class="c-dropdown__option">William</li>
                <li class="c-dropdown__option">Alice Brian</li>
                <li class="c-dropdown__option">John David</li>
              </ul>
            </div>
          </div>
          <!-- Min Area (sq ft) -->
          <div class="search-filter__field">
            <label for="" class="search-filter__field-label">Min Area (sq ft)</label>
            <input type="text" name="" id="" class="input-reset search-filter__field-input" placeholder="Any" autocomplete="off">
          </div>
          <!-- Max Area (sq ft) -->
          <div class="search-filter__field">
            <label for="" class="search-filter__field-label">Max Area (sq ft)</label>
            <input type="text" name="" id="" class="input-reset search-filter__field-input" placeholder="Any" autocomplete="off">
          </div>
          <!-- Keyword -->
          <div class="search-filter__field">
            <label for="" class="search-filter__field-label">Keyword</label>
            <input type="text" name="" id="" class="input-reset search-filter__field-input" placeholder="Any" autocomplete="off">
          </div>
          <!-- Property ID -->
          <div class="search-filter__field">
            <label for="" class="search-filter__field-label">Property ID</label>
            <input type="text" name="" id="" class="input-reset search-filter__field-input" placeholder="Any" autocomplete="off">
          </div>
        </div>
        <!-- checkbox-options -->
        <div class="search-filter__checkbox-options">
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
          <!-- checkbox -->
          <label class="check check-small search-filter__checkbox" id="">
            <input class="check__input" type="checkbox" name="param-name" id="">
            <span class="check__box"></span>
            <span class="check__label search-filter__checkbox-label">OptionName<small>(0)</small></span>
          </label>
        </div>
        <!-- more-option__open-panel -->
        <div class="more-option__open-panel">Looking for certain features</div>
      </div>

    </div>
  </div>
</section>