<section class="hero">
  <div class="hero__inner">
    <!-- hero-slider -->
    <div class="hero-slider">
      <div class="swiper-wrapper">
        <div class="hero__slide swiper-slide">
          <picture>
            <source srcset="./img/hero-img.webp" type="image/webp">
            <img loading="lazy" src="./img/hero-img.jpg" class="hero__slide-img" width="" height="" alt="">
          </picture>
          <div class="hero__content">
            <h1 class="hero__title slide-title">How to buy real estate with bitcoin?</h1>
            <a class="btn btn-by slide-btn js-modal-btn" data-modal-open="modalSubmit">By Property</a>
          </div>
        </div>
        <div class="hero__slide swiper-slide">
          <picture>
            <source srcset="./img/hero-img.webp" type="image/webp">
            <img loading="lazy" src="./img/hero-img.jpg" class="hero__slide-img" width="" height="" alt="">
          </picture>
          <div class="hero__content">
            <h1 class="hero__title slide-title">How to buy real estate with bitcoin?</h1>
            <a class="btn btn-by slide-btn js-modal-btn" data-modal-open="modalSubmit">By Property</a>
          </div>
        </div>
        <div class="hero__slide swiper-slide">
          <picture>
            <source srcset="./img/hero-img.webp" type="image/webp">
            <img loading="lazy" src="./img/hero-img.jpg" class="hero__slide-img" width="" height="" alt="">
          </picture>
          <div class="hero__content">
            <h1 class="hero__title slide-title">How to buy real estate with bitcoin?</h1>
            <a class="btn btn-by slide-btn js-modal-btn" data-modal-open="modalSubmit">By Property</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- hero__inner-mob(<=1024px) -->
  <div style="background-image: url(./img/hero-img.jpg);" class="hero__inner-mob">
    <div class="hero__content">
      <h1 class="hero__title">How to buy real estate with bitcoin?</h1>
      <a class="btn btn-by js-modal-btn" data-modal-open="modalSubmit">By Property</a>
    </div>
  </div>

  <!-- btn-down -->
  <a href="#filter-search" class="btn-reset btn-arrow btn-down">
    <i class="ic-arrow-down btn-arrow__icon"></i>
  </a>
</section>