<section class="section locations">
  <div class="container">
    <div class="section-head">
      <h2 class="section-title">Locations</h2>
      <p class="section-descr">Discover our real estate properties around the world. Pay fully or partly with Bitcoin & crypto.</p>
    </div>

    <div class="locations__list">
      <div class="locations__left">
        <div class="locations__left-top">
          <!-- item -->
          <a href="#" class="location__item" style="background-image: url(./img/location/location-thailand.jpg);">
            <div class="location__item-overlay">
              <span class="location__name">Thailand</span>
              <div class="location__properties">
                <span class="location__properties-count">26</span>
                <span class="location__properties-label">Properties</span>
              </div>
            </div>
          </a>
          <!-- item -->
          <a href="#" class="location__item" style="background-image: url(./img/location/location-bali.jpg);">
            <div class="location__item-overlay">
              <span class="location__name">Bali</span>
              <div class="location__properties">
                <span class="location__properties-count">18</span>
                <span class="location__properties-label">Properties</span>
              </div>
            </div>
          </a>
        </div>
        <div class="locations__left-bottom">
          <!-- item -->
          <a href="#" class="location__item" style="background-image: url(./img/location/location-portugal.jpg);">
            <div class="location__item-overlay">
              <span class="location__name">Portugal</span>
              <div class="location__properties">
                <span class="location__properties-count">15</span>
                <span class="location__properties-label">Properties</span>
              </div>
            </div>
          </a>
          <!-- item -->
          <a href="#" class="location__item" style="background-image: url(./img/location/location-spain.jpg);">
            <div class="location__item-overlay">
              <span class="location__name">Spain</span>
              <div class="location__properties">
                <span class="location__properties-count">9</span>
                <span class="location__properties-label">Properties</span>
              </div>
            </div>
          </a>
          <!-- item -->
          <a href="#" class="location__item" style="background-image: url(./img/location/location-dubai.jpg);">
            <div class="location__item-overlay">
              <span class="location__name">Dubai</span>
              <div class="location__properties">
                <span class="location__properties-count">6</span>
                <span class="location__properties-label">Properties</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="locations__right">
        <!-- item -->
        <a href="#" class="location__item" style="background-image: url(./img/location/location-montenegro.jpg);">
          <div class="location__item-overlay">
            <span class="location__name">Montenegro</span>
            <div class="location__properties">
              <span class="location__properties-count">8</span>
              <span class="location__properties-label">Properties</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>