<section class="section our-service">
  <div class="container">
    <div class="section-head">
      <h2 class="section-title">Our Services</h2>
      <h3 class="our-service__subtitle">Stepping into the Future with Luminary Estate</h3>
      <p class="section-descr">In an increasingly digital world, it’s only fitting that we break barriers in the real estate market
        too. Luminary Estate is the bridge that combines traditional real estate investment with the world of cryptocurrency.</p>
    </div>
    <div class="our-service__grid">
      <div class="our-service__item">
        <img class="our-service__item-icon" loading="lazy" src="img/icons/ic-service_1.svg" width="" height="" alt="">
        <h4 class="item-title">Crypto to Fiat Conversion</h4>
        <p class="item-text">We convert your cryptocurrency into fiat, easing the process of buying property and reducing
          potential financial risks associated with fluctuating crypto values.</p>
      </div>
      <div class="our-service__item">
        <img class="our-service__item-icon" loading="lazy" src="img/icons/ic-service_2.svg" width="" height="" alt="">
        <h4 class="item-title">End-to-End Transaction Management</h4>
        <p class="item-text">We take care of the entire process — from crypto conversion, paperwork, to property registration —
          ensuring a smooth, hassle-free experience.</p>
      </div>
      <div class="our-service__item">
        <img class="our-service__item-icon" loading="lazy" src="img/icons/ic-service_3.svg" width="" height="" alt="">
        <h4 class="item-title">Real Estate Advisory</h4>
        <p class="item-text">We provide expert guidance on the real estate markets of crypto-friendly countries such as
          Thailand, Spain, UAE, Montenegro, and more, equipping you with key insights to make your investment decisions highly rewarding.
        </p>
      </div>
      <div class="our-service__item">
        <img class="our-service__item-icon" loading="lazy" src="img/icons/ic-service_4.svg" width="" height="" alt="">
        <h4 class="item-title">Post-Purchase Support</h4>
        <p class="item-text">Our work doesn’t end at purchase. We assist with property management and after-sales services,
          ensuring your investment continues to pay off.</p>
      </div>
    </div>
  </div>
</section>