<section class="section steps bg-blur bg-blur-top" id="steps">
  <div class="container steps__container">
    <div class="section-head">
      <h2 class="section-title steps__title">A Step-by-Step Guide: <span class="text-accent">How to Buy Real Estate</span> with Crypto via
        Luminary Estate</h2>
      <p class="section-descr">At Luminary Estate, we have demystified the process of buying real estate with cryptocurrency. Here’s a
        step-by-step guide to how we facilitate the process:</p>
      </h2>
    </div>
    <ul class="list-reset steps-list">
      <li class="steps-list__item step-1">
        <div class="steps-list__number-mob">1</div>
        <div class="steps-list__item-icon">
          <img loading="lazy" src="img/icons/step-icon_1.svg" width="120" height="120" alt="">
        </div>
        <div class="steps-list__item-body">
          <div class="steps-list__item-text">
            <h4 class="steps-list__item-title">Initial consultation:</h4>
            <p class="steps-list__item-descr">Contact us for a free consultation to discuss your requirements and explain how our process
              works.</p>
          </div>
          <div class="steps-list__item-number">01</div>
        </div>
      </li>
      <li class="steps-list__item step-2">
        <div class="steps-list__number-mob">2</div>
        <div class="steps-list__item-body">
          <div class="steps-list__item-number">02</div>
          <div class="steps-list__item-text">
            <h4 class="steps-list__item-title">Property Selection:</h4>
            <p class="steps-list__item-descr">Browse our curated list of properties in crypto-friendly jurisdictions and select the one
              that best suits your needs.</p>
          </div>
        </div>
        <div class="steps-list__item-icon">
          <img loading="lazy" src="img/icons/step-icon_2.svg" width="120" height="120" alt="">
        </div>
      </li>
      <li class="steps-list__item step-3">
        <div class="steps-list__number-mob">3</div>
        <div class="steps-list__item-icon">
          <img loading="lazy" src="img/icons/step-icon_3.svg" width="120" height="120" alt="">
        </div>
        <div class="steps-list__item-body">
          <div class="steps-list__item-text">
            <h4 class="steps-list__item-title">Deposit:</h4>
            <p class="steps-list__item-descr">Once you’ve chosen your property, a deposit is required to secure it. This can be paid in
              cryptocurrency, which we then convert into fiat currency.</p>
          </div>
          <div class="steps-list__item-number">03</div>
        </div>
      </li>
      <li class="steps-list__item step-4">
        <div class="steps-list__number-mob">4</div>
        <div class="steps-list__item-body">
          <div class="steps-list__item-number">04</div>
          <div class="steps-list__item-text">
            <h4 class="steps-list__item-title">Paperwork and Due Diligence:</h4>
            <p class="steps-list__item-descr">We handle all the necessary paperwork and perform thorough due diligence to ensure a safe
              and compliant transaction.</p>
          </div>
        </div>
        <div class="steps-list__item-icon">
          <img loading="lazy" src="img/icons/step-icon_4.svg" width="120" height="120" alt="">
        </div>
      </li>
      <li class="steps-list__item step-5">
        <div class="steps-list__number-mob">5</div>
        <div class="steps-list__item-icon">
          <img loading="lazy" src="img/icons/step-icon_5.svg" width="120" height="120" alt="">
        </div>
        <div class="steps-list__item-body">
          <div class="steps-list__item-text">
            <h4 class="steps-list__item-title">Crypto-to-Fiat Conversion:</h4>
            <p class="steps-list__item-descr">We facilitate the further conversion of your cryptocurrency into fiat currency, protecting
              you from the volatility of digital currencies.</p>
          </div>
          <div class="steps-list__item-number">05</div>
        </div>
      </li>
      <li class="steps-list__item step-6">
        <div class="steps-list__number-mob">6</div>
        <div class="steps-list__item-body">
          <div class="steps-list__item-number">06</div>
          <div class="steps-list__item-text">
            <h4 class="steps-list__item-title">Deal Finalisation:</h4>
            <p class="steps-list__item-descr">Once everything is in place, we finalise the deal and complete the ownership transfer
              process.</p>
          </div>
        </div>
        <div class="steps-list__item-icon">
          <img loading="lazy" src="img/icons/step-icon_6.svg" width="120" height="120" alt="">
        </div>
      </li>
      <li class="steps-list__item step-7">
        <div class="steps-list__number-mob">7</div>
        <div class="steps-list__item-icon">
          <img loading="lazy" src="img/icons/step-icon_7.svg" width="120" height="120" alt="">
        </div>
        <div class="steps-list__item-body">
          <div class="steps-list__item-text">
            <h4 class="steps-list__item-title">Post-purchase support:</h4>
            <p class="steps-list__item-descr">After the transaction is complete, we provide ongoing property management services to ensure
              your investment continues to be fruitful.</p>
          </div>
          <div class="steps-list__item-number">07</div>
        </div>
      </li>
    </ul>
    <h3 class="steps__text">Navigating real estate purchases with cryptocurrency is made <br> easy with Luminary Estate.</h4>
  </div>
</section>