<section class="section submit-property">
  <div class="submit-property__bg" style="background-image: url(./img/submit-property__bg.jpg);"></div>
  <div class="container submit-property__container">
    <div class="submit-property__content">
      <h2 class="submit-property__title">Looking To Buy A New House Or Sell One For Crypto?</h2>
      <div class="submit-property__btns">
        <button type="button" class="btn-reset submit-property__btn btn-submit js-modal-btn" data-modal-open="modalSubmit">Submit
          property</button>
        <a href="#" class="submit-property__btn btn-browse">Browse properties</a>
      </div>
    </div>
    <div class="submit-property__img">
      <picture>
        <source srcset="./img/submit-property__img.webp" type="image/webp">
        <img loading="lazy" src="./img/submit-property__img.jpg" width="460" height="624" alt="">
      </picture>
    </div>
  </div>
</section>