<section class="why-choose bg-blur bg-blur-center">
  <div class="container why-choose__container">
    <div class="section-head">
      <h2 class="section-title why-choose__title">Why Choose Us</h2>
      <p class="section-descr">Luminary Estate: Bridging the Gap between Traditional Investments and Modern Currency</p>
    </div>
    <div class="why-choose__grid">
      <div class="why-choose__item">
        <div class="why-choose__item-img">
          <picture>
            <source srcset="./img/why-choose_img-1.webp" type="image/webp">
            <img loading="lazy" src="./img/why-choose_img-1.jpg" class="" width="224" height="256" alt="">
          </picture>
        </div>
        <div class="why-choose__item-content">
          <h3 class="item-title">Streamlined Processes</h3>
          <p class="item-text">Our services are designed for your convenience. We turn the often complex process of buying real
            estate with crypto into a straightforward, stress-free experience.</p>
        </div>
      </div>
      <div class="why-choose__item">
        <div class="why-choose__item-img">
          <picture>
            <source srcset="./img/why-choose_img-2.webp" type="image/webp">
            <img loading="lazy" src="./img/why-choose_img-2.jpg" class="" width="224" height="256" alt="">
          </picture>
        </div>
        <div class="why-choose__item-content">
          <h3 class="item-title">Financial Flexibility</h3>
          <p class="item-text">By enabling the use of cryptocurrency for real estate transactions, we offer you a whole new
            avenue for investment that might not be available with other traditional real estate firms.</p>
        </div>
      </div>
      <div class="why-choose__item">
        <div class="why-choose__item-img">
          <picture>
            <source srcset="./img/why-choose_img-3.webp" type="image/webp">
            <img loading="lazy" src="./img/why-choose_img-3.jpg" class="" width="224" height="256" alt="">
          </picture>
        </div>
        <div class="why-choose__item-content">
          <h3 class="item-title">Time Efficiency</h3>
          <p class="item-text">By handling all paperwork and registration procedures, we save you precious time, allowing you to
            focus on your next big venture.</p>
        </div>
      </div>
      <div class="why-choose__item">
        <div class="why-choose__item-img">
          <picture>
            <source srcset="./img/why-choose_img-4.webp" type="image/webp">
            <img loading="lazy" src="./img/why-choose_img-4.jpg" class="" width="224" height="256" alt="">
          </picture>
        </div>
        <div class="why-choose__item-content">
          <h3 class="item-title">Secure Transactions</h3>
          <p class="item-text">We prioritize the security of your transactions. Our proven processes ensure that your
            cryptocurrency conversions and real estate purchases are safe and secure.</p>
        </div>
      </div>
      <div class="why-choose__item">
        <div class="why-choose__item-img">
          <picture>
            <source srcset="./img/why-choose_img-5.webp" type="image/webp">
            <img loading="lazy" src="./img/why-choose_img-5.jpg" class="" width="224" height="256" alt="">
          </picture>
        </div>
        <div class="why-choose__item-content">
          <h3 class="item-title">Market Insights</h3>
          <p class="item-text">Our experienced real estate advisors deliver valuable insights into the property markets of
            Thailand, Spain, UAE, Montenegro, and beyond, steering you towards the most beneficial investment decisions.</p>
        </div>
      </div>
      <div class="why-choose__item">
        <div class="why-choose__item-img">
          <picture>
            <source srcset="./img/why-choose_img-6.webp" type="image/webp">
            <img loading="lazy" src="./img/why-choose_img-6.jpg" class="" width="224" height="256" alt="">
          </picture>
        </div>
        <div class="why-choose__item-content">
          <h3 class="item-title">Customer Satisfaction</h3>
          <p class="item-text">At Luminary Estate, we place our customers' satisfaction at the heart of our services. Our team
            is committed to delivering exceptional service to ensure your complete satisfaction.</p>
        </div>
      </div>
    </div>
  </div>
</section>